* {
    margin: 0;
    padding: 0;

}

nav {
    height: min-content;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li:hover {
    border-bottom: 2px solid green;
}

nav ul li a {
    color: #c8c6c6;
    letter-spacing: 1px;
    padding: 1rem;
}

.flex-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    position: fixed;
    top: 0;

    width: 100%;
    background-color: black;
    z-index: 1;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
}

.name-pnl {
    padding: 1rem;
}

.name-pnl h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.name-pnl span {
    color: var(--green);
    font-weight: 800;
    padding: 0;
    margin-left: -8px;
    font-size: 57px;
}

/* @media only screen and (min-width: 577px) and (max-width: 992px) {

    nav ul {

        gap: 0;
    }
} */